/* 页眉 */
::selection {
  color: #fff;
  background: #66c1fa
}

h1{
  margin-top: 40px
}

p{
  font-size: 100%
}

#click{
  font-size: 15px;
  user-select:none;
  z-index: 99999
}

header{
  width: 100%;
  background-color: #e3f2fd;
  z-index: 999
}

@media screen and (max-width: 360px){
	.logo{
		width: 200px;
	}
	.header{
		height: 55px;
		width: 100%;
		background-color: #e3f2fd
	}
}

@media screen and (min-width: 360px){
	.logo{
		width: 240px;
	}
	.header{
		height: 66px;
		width: 100%;
		background-color: #e3f2fd
	}
}

noscript{
  display:flex;
  justify-content:center
}

button{
    border-style: none
}

.bi-list{
	font-size: larger;
}

.bi-chevron-compact-up{
	font-size: larger;
}

.center{
  text-align: center
}

.allheader{
  width: 100%;
  z-index: 999;
  position:fixed
}

/*弹窗部分开始*/
/* 遮罩层 */
#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: #cccccc;
  z-index: 100
}
/* 弹出框主体 */
.popup {
  background-color: #ffffff;
  height: 430px;
  border-radius: 5px;
  margin: 100px auto;
  text-align: center
}
/* 弹出框的标题 */
.popup_title {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #cccccc
}
/* 弹出框的内容 */
.popup_content {
  text-align: left;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  line-height: 45px;
  padding: 10px 20px;
  text-indent:2em
}
.popup_line{
  margin: 0 auto;
  height: 20px;
  width: 85%;
  border-bottom: 1px solid #dbdbdb
}
/* 弹出框的按钮栏 */
.popup_btn {
  padding-top: 30px
}
/* 弹出框的按钮 */
.popup_btn button.ds {
  color: #778899;
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin: 5px 10px;
  color: #ffffff;
  background-color: rgb(150,150,150)
}
.popup_btn button.ag {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #337ab7
  }
/*弹窗部分结束*/

#wsearch{
  margin-left: 10px
}

.pcsearch{
  margin-left: 10px;
  font-size: small
}

/*下拉菜单*/
.packups{
    border-style: none
}

.nav-link:hover{
    border-bottom: 2px solid rgb(38, 38, 38);
    margin-bottom: -2px
}

.pull-down-menu{
    background-color: rgb(242,242,242);
    text-decoration: none;
}

.pull-down-menu a {
    display:block;
    font-size: 18px;
    color: rgb(38, 38, 38);
    text-decoration:none;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 15px
}

.pull-down-menu a:hover {
    color:rgb(0, 0, 0)
}

.pull-down-menu .nopoint{
    list-style-type:none
}

.pullsearchdiv{
  background-color: rgb(242,242,242)
}

.pullsearch{
  margin-left: 15px;
  margin-right: 15px
}

.stereoscopic-line{
  background-color: rgb(230,230,230);
  height: 2px
}

.psearch{
  text-align: right
}

footer{
  width: 100%;
  background-color: rgb(242,242,242)
}
.back-top {
  text-align: center;
  font-size: larger
}

.back-top a{
  text-decoration: none;
  color: #444
}

.back-top span{
  font-size: small
}

.language{
  font-size: larger;
  margin-left: 3%
}

.language .btn{
  text-decoration: none
}

.fill{
  height: 20px;
}

/*高考必胜开始*/
@font-face {
    font-display: block;
    font-family: STKaiti;
    src: url(https://fill.hkems-stmo.top/font/%E5%8D%8E%E6%96%87%E8%A1%8C%E6%A5%B7.woff2) format("woff2"), url(https://fill.hkems-stmo.top/font/%E5%8D%8E%E6%96%87%E8%A1%8C%E6%A5%B7.ttf) format("TrueType")
}

.NMTest{
  display: none;
  text-align: center;
  font-family: 华文行楷,STKaiti;
	font-size: 2rem;
	color: #dc8f03;
	font-weight:lighter;
	line-height: 50px;
	text-align: center;
    user-select:none
}

@media screen and (max-width: 950px){
  .deng-box{
    display: none;
  }
  .deng-box1{
    display: none;
  }
  .NMTest{
    display: block;
  }
}

.deng-box2 {
	position: absolute;
	top: 38px;
	left: -2%;
	z-index: 1;
}
 
.deng-box3 {
	position: absolute;
	top: 38px;
	left: 12%;
	z-index: 1;
}

.deng-box4 {
	position: absolute;
	top: 38px;
	right: 12%;
	z-index: 1;
}

.deng-box5 {
	position: absolute;
	top: 38px;
	right: -2%;
	z-index: 1;
}

.deng-box1 .deng {
	position: relative;
	width: 120px;
	height: 90px;
	margin: 50px;
	background: #d8000f;
	background: rgba(216, 0, 15, 0.8);
	border-radius: 50% 50%;
	transform-origin: 50% -100px;
	animation: swing 3s infinite ease-in-out;
	box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
}
 
.deng {
	position: relative;
	width: 120px;
	height: 90px;
	margin: 50px;
	background: #d8000f;
	background: rgba(216, 0, 15, 0.8);
	border-radius: 50% 50%;
	transform-origin: 50% -100px;
	animation: swing 5s ease-in-out infinite;
	box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
}
 
.deng-a {
	width: 100px;
	height: 90px;
	background: #d8000f;
	background: rgba(216, 0, 15, 0.1);
	margin: 12px 8px 8px 8px;
	border-radius: 50% 50%;
	border: 2px solid #dc8f03;
}
 
.deng-b {
	width: 45px;
	height: 90px;
	background: #d8000f;
	background: rgba(216, 0, 15, 0.1);
	margin: -4px 8px 8px 26px;
	border-radius: 50% 50%;
	border: 2px solid #dc8f03;
}
 
.xian {
	position: absolute;
	top: -20px;
	left: 60px;
	width: 2px;
	height: 20px;
	background: #dc8f03;
}
 
.shui-a {
	position: relative;
	width: 5px;
	height: 20px;
	margin: -5px 0 0 59px;
	animation: swing 4s infinite ease-in-out;
	transform-origin: 50% -45px;
	background: #ffa500;
	border-radius: 0 0 5px 5px;
}
 
.shui-b {
	position: absolute;
	top: 14px;
	left: -2px;
	width: 10px;
	height: 10px;
	background: #dc8f03;
	border-radius: 50%;
}
 
.shui-c {
	position: absolute;
	top: 18px;
	left: -2px;
	width: 10px;
	height: 35px;
	background: #ffa500;
	border-radius: 0 0 0 5px;
}
 
.deng:before {
	position: absolute;
	top: -7px;
	left: 29px;
	height: 12px;
	width: 60px;
	content: " ";
	display: block;
	z-index: 1;
	border-radius: 5px 5px 0 0;
	border: solid 1px #dc8f03;
	background: #ffa500;
	background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}
 
.deng:after {
	position: absolute;
	bottom: -7px;
	left: 10px;
	height: 12px;
	width: 60px;
	content: " ";
	display: block;
	margin-left: 20px;
	border-radius: 0 0 5px 5px;
	border: solid 1px #dc8f03;
	background: #ffa500;
	background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}
 
.deng-t {
	font-family: 华文行楷,STKaiti;
	font-size: 3.2rem;
	color: #dc8f03;
	font-weight:lighter;
	line-height: 85px;
	text-align: center;
	user-select:none
}
 
.night .deng-t, 
.night .deng-box, 
.night .deng-box1 {
	background: transparent !important;
}
 
@keyframes swing {
	0% {
		-moz-transform: rotate(-10deg)
	}
 
	50% {
		-moz-transform: rotate(10deg)
	}
 
	100% {
		-moz-transform: rotate(-10deg)
	}
}
 
@keyframes swing {
	0% {
		transform: rotate(-10deg)
	}
 
	50% {
		transform: rotate(10deg)
	}
 
	100% {
		transform: rotate(-10deg)
	}
}
/*高考必胜结束*/