/* 页眉 */
html {
    font-size: 100%;
}

nav{
    background-color: #e3f2fd;
}

button{
    border-style: none;
}
/*弹窗*/
/* 遮罩层 */
#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  z-index: 100;
}
/* 弹出框主体 */
.popup {
  background-color: #ffffff;
  width: 600px;
  height: 430px;
  border-radius: 5px;
  margin: 100px auto;
  text-align: center;
}
/* 弹出框的标题 */
.popup_title {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #cccccc;
}
/* 弹出框的内容 */
.popup_content {
  text-align: left;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  line-height: 45px;
  padding: 10px 20px;
  text-indent:2em;
}
.popup_line{
  margin: 0 auto;
  height: 20px;
  width: 85%;
  border-bottom: 1px solid #dbdbdb;
}
/* 弹出框的按钮栏 */
.popup_btn {
  padding-top: 30px;
}
/* 弹出框的按钮 */
.popup_btn button.ds {
  color: #778899;
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin: 5px 10px;
  color: #ffffff;
  background-color: rgb(150,150,150);
}
.popup_btn button.ag {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #337ab7;
  }
/*弹窗*/

.packups{
    border-style: none;
}

.nav-link:hover{
    border-bottom: 2px solid rgb(38, 38, 38);
    margin-bottom: -2px;
}

.pull-down-menu{
    background-color: rgb(242,242,242);
    list-style-type:none;
}

.pull-down-menu a {
    display:block;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(38, 38, 38);
    text-decoration:none;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 15px;

}

.pull-down-menu a:hover {
    color:rgb(0, 0, 0);
}

.pull-down-menu .nopoint{
    list-style-type:none;
}

.stereoscopic-line{
    background-color: rgb(230,230,230);
    height: 2px;
}

.psearch{
    text-align: right;
}